################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment1/x64/Debug
/Assignment1/Assignment1.vcxproj.user
/Parser/Parser.vcxproj.user
/x64/Debug
/Lexical Analyzer/x64/Debug
/Parser/x64/Debug
/Lexical Analyzer/Debug
/Lexical Analyzer/Lexical Analyzer.vcxproj.user
/Debug
/Parser/Debug
/Semantic Structures/Debug
/Semantic Structures/Semantic Structures.vcxproj.user
Semantic Structures/Test.c
Semantic Structures/x64/Debug/vc142.pdb
Semantic Structures/x64/Debug/vc142.idb
Semantic Structures/x64/Debug/Test.obj
Semantic Structures/x64/Debug/SYMBOL_TABLE_ENTRY.obj
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/Semantic Structures.lastbuildstate
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/link.write.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/link.read.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/link.command.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/CL.write.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/CL.read.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/CL.command.1.tlog
Semantic Structures/x64/Debug/Semantic Structures.vcxproj.FileListAbsolute.txt
Semantic Structures/x64/Debug/Semantic Structures.log
Semantic Structures/x64/Debug/Semantic Structures.Build.CppClean.log
Semantic Structures/x64/Debug/INTERNAL FUNCTIONS.obj
Semantic Structures/x64/Debug/HashMap.obj
Semantic Structures/Semantic Structures.vcxproj.filters
Semantic Structures/Semantic Structures.vcxproj.filters
Semantic Structures/Semantic Structures.vcxproj.filters
Semantic Structures/Semantic Structures.vcxproj
Semantic Structures/Semantic Structures.vcxproj.filters
Semantic Structures/Semantic Structures.vcxproj.filters
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/link.23908-cvtres.read.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/link.23908-cvtres.write.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/link.23908-rc.read.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/link.23908-rc.write.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/link.23908.read.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/link.23908.write.1.tlog
Semantic Structures/x64/Debug/Semantic.CFE71C15.tlog/unsuccessfulbuild
