################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment1/x64/Debug
/Assignment1/Assignment1.vcxproj.user
/Parser/Parser.vcxproj.user
/x64/Debug
/Lexical Analyzer/x64/Debug
/Parser/x64/Debug
/Lexical Analyzer/Debug
/Lexical Analyzer/Lexical Analyzer.vcxproj.user
/Debug
/Parser/Debug